/* CUSTOM FONTS */

			.actions .action,.compact-menu .main-d-nav ul li a, .view-item-btn, .item-meta h2, .prjct-hvr-title h2, body .module .heading, .blog-action-title, .blog-search-box, .comments-count, .comment-reply-link, .footer .social-area ul li a, .product .button, li.product .price, .product .item-cat, .cart-contents span, .cart-customlocation span, .shop_table *, .lobo-tabs .shop_table p, .lobo-tabs *, .lobo-tabs input[type="submit"], .lobo-tabs button, .order_details, .woocommerce-page .post-excerpt .variation p, #shop-search a, #shop-search .wsf-heading, .table-end { font-family: 'Lato', sans-serif; }

			.text-hero-title, .text-hero-subtitle { font-family: 'Lato', sans-serif; !important; }

			body, .hero-text-intro .hero-intro h1, .hero-text-intro .hero-intro h2, .inner-post .post-title, .comment-body p, .pagination div a, .call-to-action-btn a, .show-map-btn, .product-content, .product_title, .product-content h2, .product-content h3, .single-product .cart input, #lobo-reviews h5, #lobo-reviews .form input, #lobo-reviews .form select, #lobo-reviews .form textarea, #lobo-reviews .form-submit input#submit, .products > h2, .woocommerce-message .button, .blog-actions .woocommerce.widget .widget-title, .wcp-title, .woocommerce-page .the-post h2, .product-quantity .input-text, .lobo-tabs input, .lobo-tabs select, .lobo-tabs textarea, .lobo-tabs radio, .lobo-tabs checkbox, .lobo-tabs label, .lobo-tabs label abbr, .module .lobo-accordion h3, li.product .price del + ins, .country_select { font-family: 'Open Sans', sans-serif; }

			.contact-form form ::-webkit-input-placeholder { font-family: 'Open Sans', sans-serif; } .contact-form form ::-moz-placeholder { font-family: 'Open Sans', sans-serif; } .contact-form form ::-ms-input-placeholder { font-family: 'Open Sans', sans-serif; } 

			h1, h2, h3, h4, h5, h6, .inner-post .post-date, .inner-post footer a, .single-post h3, .single-post blockquote, .single-post .post-excerpt .left-note, .read-comments-btn, .author-post-meta, .comment-author-wrap, .single-post .comment-reply-title, .respond-field input, .respond-comment textarea, .comment-form input#submit, .submit-caption, .footer .credits, .module blockquote, .contact-form label, .galleria-run .text, #galleria .galleria-control, #galleria .galleria-counter, #galleria .galleria-info-description, #galleria .gal-close-btn, .royalSlider.tabs .rsTab, .rating-meta time, .wcp-subtitle strong, .wcp-subtitle a, .woocommerce-message, .woocommerce-error, .woocommerce-info, .lobo-tabs p, .payment_methods li label, .woocommerce-page .post-excerpt p, .woocommerce-page .post-excerpt dl, .order-actions a, .address a, .lobo-tabs address, #scriptie { font-family: 'Lekton', sans-serif; }

			.hero-info h1, .hero-info h2, .secondary-typeface, .compact-menu .main-d-nav .menu-footer p, .module-title, .text-module .copy h4, .text-module .copy h5, .text-module .copy h6, .module-caption, .slide-caption, .prjct-description-head h3, body .module .copy-highlight, .item-meta .item-cat { font-family: 'Crimson Text', serif; }

			/* CUSTOM COLORS */

			::-moz-selection { background-color: #fff85f; }
			::selection { background-color: #fff85f; }

			#header .main-d-nav ul .sub-menu, .module-caption, .slide-caption, .audioplayer-bar-played, .post-item:hover .inner-post footer a, .cats a:after, .cats-blog a:after, .action a:after, .call-to-action-module h2:after, .call-to-action-module h3:after, .call-to-action-module h4:after, .mb_YTPseekbar, .comment-list .bypostauthor .comment-inner:after, .hero-info a:after, #galleria .galleria-info-description, .royalSlider.tabs .rsTab:after, .galleria-container.background--light .galleria-close-wrapper a:hover, .separator h3:after, .galleria-container.background--dark .galleria-close-wrapper a:hover, .separator h3:after, .galleria-close-wrapper a:hover, .separator h3:after, .single_add_to_cart_button, #lobo-reviews h5, li.product .view_button, .woocommerce-message .button, .blog-actions .woocommerce.widget > ul, .cart-contents span, .cart-customlocation span, #main-cart .widget_shopping_cart .button.view, .woocommerce-page input[type="submit"], .woocommerce-page button, .wc-button, .woo-cheader a:after, .wcp-subtitle a:after, #shop-search a:after, .mejs-controls .mejs-time-rail .mejs-time-current { background-color: #fff85f; }

			body .module .copy-highlight, .single-product .product_meta a:hover, .reviews-slider .rsArrow:hover .rsArrowIcn:before, .onsale, .woocommerce-message .button:hover, .blog-actions .woocommerce.widget .widget-title.expand:hover, .blog-actions .woocommerce.widget .widget-title.expand.opened, #main-cart .cart-title:first-letter, #main-cart .widget_shopping_cart .button:hover, .single_add_to_cart_button:hover, .woocommerce-page input[type="submit"]:hover, .woocommerce-page button:hover, .star-rating .star:before, .wcp-subtitle a:hover, .order-actions a:hover, a.wc-button:hover { color: #fff85f; }

			.woocommerce #s, .blog-actions .woocommerce.widget .widget-title.expand:hover, .blog-actions .woocommerce.widget .widget-title.expand.opened { border-color: #fff85f; }

			.compact-menu .main-d-nav .c-close-btn span, .actions-bottom .sticky-head-elmnts .hero-sticky-title, .actions-bottom .sticky-head-elmnts .action-scroll-top a i, .share-wdgt span, .overlay .close-btn span, .pagination .prev-post a, .woocommerce-pagination .page-numbers a:hover { background-color: rgb(252, 255, 147); }

			.blog-actions .cats-blog li a, .call-to-action-btn a, .show-map-btn { color: rgb(252, 255, 147); }

			.no-touch .compact-menu .main-d-nav ul li a:hover, .compact-menu .main-d-nav .menu-footer p .copy-highlight, .compact-menu .main-d-nav ul li.current > a { color: rgb(255, 251, 178); }

			.pagination .next-post a, .comment-list .even, form input[type="submit"], .selector, .current-selector { background-color: rgb(253, 255, 188); }

			.comment-list .odd, .mb_YTPLoaded, .pagination, .video-embedded .vem-overlay:hover .vem-play, .mejs-overlay:hover .mejs-overlay-button, .mejs-controls .mejs-time-rail .mejs-time-loaded { background-color: rgb(254, 255, 234); }

			.rating-word { color: rgb(253, 255, 188); }

			.woocommerce-page .item-hover:hover:before { border-color: #fff85f; }

			a:active, a:focus, .no-touch a:active, .no-touch a:focus { color: rgb(254, 235, 0); }

			/* IE uses absolute paths to .cur files - YAY!!! :) */

			.ie .sldr-nofade .bottom-dark .hero-item .rsOverflow,
			.ie .sldr-nofade .top-dark .hero-item .rsOverflow,
			.ie .sldr-nofade .bottom-dark .grab-cursor,
			.ie .sldr-nofade .top-dark .grab-cursor {  
			  cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-sldr-light.cur), move !important;
			}
			.ie .sldr-nofade .bottom-light .hero-item .rsOverflow,
			.ie .sldr-nofade .top-light .hero-item .rsOverflow,
			.ie .sldr-nofade .bottom-light .grab-cursor,
			.ie .sldr-nofade .top-light .grab-cursor {
			  cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-sldr-dark.cur), move !important;
			}
			.ie .bottom-dark .hero-item .rsOverflow .rsArrowLeft,
			.ie .top-dark .hero-item .rsOverflow .rsArrowLeft,
			.ie .bottom-dark .rsArrowLeft .grab-cursor,
			.ie .top-dark .rsArrowLeft .grab-cursor,
			.ie .galleria-container.background--dark .galleria-image-nav-left i {  
			  cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-gallery-left-light.cur), move !important;
			}
			.ie .bottom-light .hero-item .rsOverflow .rsArrowLeft,
			.ie .top-light .hero-item .rsOverflow .rsArrowLeft,
			.ie .bottom-light .rsArrowLeft .grab-cursor,
			.ie .top-light .rsArrowLeft .grab-cursor,
			.ie .galleria-container.background--light .galleria-image-nav-left i {  
			  cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-gallery-left-dark.cur), move !important;
			}
			.ie .bottom-dark .hero-item .rsOverflow .rsArrowRight,
			.ie .top-dark .hero-item .rsOverflow .rsArrowRight,
			.ie .bottom-dark .rsArrowRight .grab-cursor,
			.ie .top-dark .rsArrowRight .grab-cursor,
			.ie .galleria-container.background--dark .galleria-image-nav-right i { 
				cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-gallery-right-light.cur), move !important;
			}
			.ie .bottom-light .hero-item .rsOverflow .rsArrowRight,
			.ie .top-light .hero-item .rsOverflow .rsArrowRight,
			.ie .bottom-light .rsArrowRight .grab-cursor,
			.ie .top-light .rsArrowRight .grab-cursor,
			.ie .galleria-container.background--light .galleria-image-nav-right i {  
			  cursor: url(https://lobo.demo-heythemers.com/wp-content/themes/lobo/img/grab-gallery-right-dark.cur), move !important;
			}

			/* CUSTOM CSS */

		/*lettering spacing*/
.action a,
.hero-sticky-title,
.item-meta h2,
.prjct-hvr-title h2,
.submit-btn-helper,
.comment-form input#submit,
.call-to-action-btn a,
.footer .social-area ul li a,
.item-meta .item-cat,
.compact-menu .main-d-nav ul li a { letter-spacing: 2px; }
.blog-actions .cats-blog li a,
.blog-action-title,
.blog-search-box { letter-spacing: 3px; }
.item-meta h2 a { letter-spacing: 5px; }

.comment-reply-btn,
.respond-field input,
.pagination div a,
.rltd-content p,
.rltd-content-wrapper h3 { letter-spacing: 1px; }

.prjct-description-head h3 { letter-spacing: -1px; }

.hero-sticky-title { font-weight: bold; }

/* Blog > Single post
-------------------------------------------- */
/*Headings*/
.single-post .post-body h2 { color: #09f4af; }
.single-post .post-body h3 { color: #f14814; }
.single-post .post-body h4 { color: #f2c709; }
/*Text*/
.single-post .post-body > * {
    color: #5D556F;
}
.separator h3 { padding-top: 40px; }

.text-hero-title, .text-hero-subtitle {
    font-family: 'Montserrat', 'Lato', 'HelveticaNeue', sans-serif !important;
}
@media only screen 
and (max-width : 480px) {
.module-title { display: none; }
}
.woocommerce-cart .hero-info,
.woocommerce-account .hero-info,
.woocommerce-checkout .hero-info { display: none; }

.mejs-poster {
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}
.woocommerce .module.text-module .module-background img {
    display: block;
}
